<div class="sign">

    <div class="sign__container">
        <div class="sign__img">
            svg class="sign__svg"
        </div>
        <div class="sign__content"></div>
    </div>

    <footer class="sign__footer">
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
        <a class="sign__footer-link" href="#" target="_blank">О нас</a>
    </footer>

</div>
